<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>youtube.png" />
    <meta name="google-site-verification" content="xliZtSWaXddLt6CbVDWFWHkSs58pZj1Zibs3ImCvVuE" />
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <meta name="theme-color" content="#d9534f" />
    <title>Video Search</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but aparat doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
