<template>
  <svg
    class="mx-auto justify-content-center align-self-center"
    viewBox="0 -64 511.92802 511"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="m255.964844 384.402344c-63.839844-.011719-127.617188-3.859375-190.992188-11.519532-28.5-3.765624-51.050781-25.964843-55.265625-54.398437-12.941406-83.554687-12.941406-168.605469 0-252.160156 4.214844-28.433594 26.765625-50.632813 55.265625-54.398438 126.867188-15.28125 255.113282-15.28125 381.984375 0 28.496094 3.765625 51.046875 25.964844 55.261719 54.398438 12.945312 83.554687 12.945312 168.605469 0 252.160156-4.214844 28.433594-26.765625 50.632813-55.261719 54.398437-63.378906 7.660157-127.15625 11.507813-190.992187 11.519532zm0 0"
      fill="#d9534f"
    />
    <path d="m191.964844 301.285156v-217.761718l174.191406 108.878906zm0 0" fill="#fff" />
  </svg>
</template>

<script>
export default { name: "Logo" };
</script>

<style scoped>
svg {
  display: flex !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  max-height: 50vh;
  max-width: 50vw;
}
</style>