<template>
  <div
    class="bg-primary justify-content-center align-self-center col d-flex my-4"
  >
    <input class @input="onInput" type="search" placeholder="Search" />
    <button class="btn btn-danger" @click="onSubmit">Search</button>
  </div>
</template>

<script>
export default {
  name: "SearchBar",
  data() {
    return {
      timeout: null
    };
  },
  methods: {
    onInput: function(e) {
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      this.timeout = setTimeout(() => {
        if (e.target.value !== "") {
          this.$emit("termChange", e.target.value);
        }
      }, 1000);
    },
    onSubmit(e) {
      if (e.target.value !== "") {
        this.$emit("termChange", e.target.value);
      }
    }
  }
};
</script>

<style scoped>
input {
  /* display: block; */
  width: 70%;
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  outline: none;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  border-radius: 50px 0 0 5px;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
button {
  border-radius: 0 5px 50px 0;
}
</style>
