<template>
  <li class="media mb-2 align-items-center" @click="onViedoSelect">
    <img class="mr-3 rounded" :alt="video.snippet.title" :src="video.snippet.thumbnails.medium.url" />
    <div class="media-body">
      <p class="mt-0 mb-1 list-group-item active text-muted">{{ video.snippet.title }}</p>
    </div>
  </li>
</template>

<script>
export default {
  name: "VideoListItem",
  props: ["video"],
  methods: {
    onViedoSelect() {
      this.$emit("videoSelect", this.video);
    }
  }
};
</script>

<style scoped>
.media {
  cursor: pointer;
}
img {
  width: 150px;
}
</style>
