<template>
  <div class="player col-lg-8" v-if="video">
    <div class="embed-responsive embed-responsive-16by9 mb-2">
      <iframe :src="iframurl" />
    </div>
    <div class="p-2">
      <h2>{{ video.snippet.title }}</h2>
      <p class="text-muted">{{ video.snippet.description }}</p>
    </div>
    <hr class="my-4" />
  </div>
</template>

<script>
export default {
  name: "VideoDetail",
  props: ["video"],
  computed: {
    iframurl() {
      return `https://youtube.com/embed/${this.video.id.videoId}`;
    }
  }
};
</script>

<style scoped>
hr {
  border-top: 1px solid rgba(218, 218, 218, 0.1);
}
iframe {
  border-radius: 0.75rem;
}
h2 {
  color: #d9534f;
  text-transform: none;
  letter-spacing: 0px;
}
.redborder {
  border: 1px solid #d9534f;
}
</style>
