<template>
  <div class="container-fluid container-lg">
    <div class="col-12">
      <div class="row" :class="videos?'':'auto'">
        <div
          class
          v-bind:class="videos ? ['col-3','mini'] : ['col-12','flex','justify-content-center']"
        >
          <Logo />
        </div>
        <SearchBar @termChange="onTermChange"></SearchBar>
      </div>
    </div>

    <div class="row mt-2">
      <VideoDetail :video="video" />
      <VideoList @videoSelect="onVideoSelect" :videos="videos" />
    </div>
  </div>
</template>

<script>
import SearchBar from "./components/SearchBar";
import VideoDetail from "./components/VideoDetail";
import VideoList from "./components/VideoList";
import Logo from "./components/Logo";

const API_KEY = "AIzaSyDD0DDA4TkCFWpc7Wbd3uFT9BMhadzRqRg";
import axios from "axios";
export default {
  name: "App",
  data() {
    return {
      videos: null,
      video: null
    };
  },
  components: { SearchBar, VideoList, VideoDetail, Logo },
  methods: {
    onTermChange(term) {
      axios
        .get("https://www.googleapis.com/youtube/v3/search", {
          params: {
            key: API_KEY,
            type: "video",
            part: "snippet",
            q: term
          }
        })
        .then(response => (this.videos = response.data.items));
      // axios
      //   .get(`https://www.aparat.com/etc/api/profile/username/alooty`)
      //   .then(response => console.log(response));
    },
    onVideoSelect(video) {
      this.video = video;
      console.log(this.video);
    }
  }
};
</script>
<style>
.mini {
  margin: auto 0;
  max-width: 90%;
}
.auto {
  margin: 10vh 0;
}
@media (min-width: 992px) {
  .mini {
    max-width: 7vw;
  }
}
body {
  background-color: #1a1a1a;
}
</style>
